.addresses{
    
    margin-top: 20px;

}

.address{
    align-items: center;
    background-color: #65a2a58f;
    display: flex ;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0,  0, 0.19);
}

.map{
    margin-top: 20px;
    width: 40%;
}

.input{
    padding: 5px;
    width: 100%;
}


